@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');


* {
    box-sizing: border-box;
    font-family:'Ubuntu Condensed', sans-serif,
}

body{
    background-color: #03041a;
    color: #e9f022cb;
    margin-top: 5em;
}


/*Contains keyboard & display */

.container{
    width: 50%;
    margin: auto;
    padding-top: 25%;
    border-style:solid;
    border-color: red; 
    padding: 1em;
    width: min-content;
}



.grid {
    display: grid;
    grid-template-columns: repeat(autofit, minmax(0px,  1fr));
    grid-template-rows: repeat(autofit, minmax(0px,  1fr));
    grid-column-gap:0.25em;
    grid-row-gap: 0.25em;
    grid-template-areas: 
    "display display display display display"
    ". . . . equals"
    "seven eight nine add."
    "four five six minus."
    "one two three times."
    "zero . . divide.";
    border-style: solid;
    padding: 0.5em;
    width: min-content;
    margin: auto;
}

#display{
    grid-area: display;
    width: 75%; 
    height: min-content;
    border:#e9f022cb;; 
    border-style: solid;
    border-width: 0.25em;
    padding: 0.01em 0.5em;
    margin: auto;
    width: 100%;
    height: 2em;
    text-align: end;
    font-size: x-large;
    overflow: hidden;
    max-width: 100%;
}

.calcButton:hover{
    box-shadow: 0.15em 0.1em #74a00c;
}
.calcButton:active{
    box-shadow: none;
}


#equals {
    grid-area: equals;
}

.calcButton {
    margin-top: 1em;
    padding:1.5em; 
    border: #E5EB38;
    border-style: solid;
    border-width: 0.15em;
    text-align: center;
    justify-self: center;
    min-width: none;
    max-width:min-content;
}



#one{
 grid-area: one;   
}
#two{
    grid-area: two;
}
#three{
    grid-area: three;
}
#four{
    grid-area: four;
}
#five{
    grid-area: five;
}
#six {
    grid-area: six;
}

#seven{
    grid-area: seven;;
}

#eight{
    grid-area: eight;
}

#nine{
    grid-area: nine;
}

#zero{
    grid-area: add;
}

#equals{
    grid-area: minus;
}

#allClear{
    grid-area: times;
}