@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');


* {
    box-sizing: border-box;
    font-family:'Ubuntu Condensed', sans-serif,
}

body{
    background-color: #0F115E;
    color: #E5EB38;
}


/*Contains keyboard & display */

.container{
    width: 50%;
    margin: auto;
    padding-top: 25%;
  border-style:solid;
  border-color: red;
  padding: 1em; 
}



.grid {
    display: grid;
    grid-template-columns: repeat(autofit, minmax(240px,  1fr));
    grid-template-rows: repeat(autofit, minmax(240px,  1fr));
    grid-column-gap:0.1em;
    grid-row-gap: 0.1em;
    grid-template-areas: 
    "display display display display display"
    ". . . . equals"
    "seven eight nine add."
    "four five six minus."
    "one two three times."
    "zero . . divide.";
    border-style: solid;
    padding: 0.5em;
    max-width:inherit;
}

#display{
    grid-area: display;
    width: 75%; 
    height: auto;
    border:#E5EB38; 
    border-style: dashed;
    border-width: 0.5em;
    padding: 1em;
    margin: auto;
}

#equals {
    grid-area: equals;
}

.calcButton {
    margin-top: 1em;
    padding:1.5em; 
    border: #E5EB38;
    border-style: solid;
    border-width: 0.33em;
    text-align: center;
    height: 5em;
    width: 5em;
    justify-self: center;
}

#one{
 grid-area: one;   
}
#two{
    grid-area: two;
}
#three{
    grid-area: three;
}
#four{
    grid-area: four;
}
#five{
    grid-area: five;
}
#six {
    grid-area: six;
}

#seven{
    grid-area: seven;;
}

#eight{
    grid-area: eight;
}

#nine{
    grid-area: nine;
}

#zero{
    grid-area: add;
}

#equals{
    grid-area: minus;
}
